@import url(http://fonts.googleapis.com/css?family=Roboto);
/*ANIMATIONS*/
@-webkit-keyframes loop
{
from {
	opacity: .5;
}
to {
	opacity: 1;
}
}

@-webkit-keyframes
loopSvgFill {from {
	fill-opacity: 0;
}
to {
	fill-opacity: 1;
}
}

@-webkit-keyframes wipeFromBottom
{
0% {top:50px;}
100%{top:0px;}
}

@-webkit-keyframes
exitToTop {from {
	top: 0px
}
to {
	top: 50px
}
}

@-webkit-keyframes
wipeFromTop {from {
	top: -50px;
}
to {
	top: 0px;
}
}
/*CONTENT*/

html {
	background-color: #000;
}
body {
	position: relative;
	text-align: center;
	background-color: #333;
	font-weight: 200;
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	width: 600px;
	height: 600px;
	margin: 0px auto 0px auto;
	padding: 20px 20px 20px 20px;
	line-height: 160%;
}

h1 {

	font-size: 24px;
	font-weight: 200;
	padding: 10px;
}
h2 {

	display: inline;
	font-weight: 200;
	font-size: 20px;
	padding: 20px;
}

.div {
	position: relative;
}

.conditionMet, .conditionNotMet {
	-webkit-animation: wipeFromBottom .5s;
}

.name {
	position: relative;
	-webkit-animation: wipeFromTop .5s;
}
.name h2 {

	Xborder-bottom: 2px solid #FFF;
}
#intro  p {

	text-align: left;
}

/*PROGRESS DOTS*/

#progressPointContainer {
	-webkit-animation: wipeFromTop .2s;
	margin: 20px;
}
.progressPoint {
	position: relative;
	margin: 0px 50px 0px 10px;
	line-height: 30px;
}
.progressPoint > span {

	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.progressPoint svg {
	position: absolute;
	top: 0;
	left: 0;
}
.progressPoint rect {
	fill: none;
	stroke: white;
	margin: 10px 10px 10px 10px;
}

.active rect {
	-webkit-animation: loopSvgFill .5s 3;
	-webkit-animation-direction: alternate;
	fill: white;
	box-shadow: 5px 5px 10px #fff;
}
.active span {
	color: black;
}

.conditionNotMet  rect {
	-webkit-animation: loopSvgFill .2s 2;
	fill: green;
}

.conditionMet rect {
	-webkit-animation: loopSvgFill .2s 2;
	fill: red;
}

/*PROGRESS BAR*/

.questionSet {
	position: relative;
	top: 20px;
}
.response, .question {
	position: relative;
	-webkit-animation: wipeFromBottom .5s;
}
.button, .response, .result {
	border: 2px solid #fff;
	background: #000;
	-webkit-animation-duration: .5s;
	color: #fff;
	padding: 15px 32px 15px 32px;
	cursor: pointer;
	Xheight: 40px;
}
.penal {

	background: red;
}
.civil {

	background: orange;
}
.button {
	padding: 10px 10px 10px 10px;
	margin: 40px 0px 0px 0px;
	float: right;
}
.button:active, .response:active {
	background: yellow;
	color: black;
}

.question {
	padding: 10px;
	font-weight: 300;
	color: #fff;
}
.wipeFromBottom {
	position: relative;
	-webkit-animation: wipeFromBottom .5s;
}
.moreInfo {

	position: absolute;
	top: 0px;
	left: 0px;
	display: inline;
	width: 50px;
	height: 47px;
	padding: 6px 3px 1px 3px;
	color: #000;line-height 3px;
	font-size: 14px;
	border: #000000;font-weight = 800;
	Xborder-radius: 3px;
	background-color: #666;
	line-height: 13px;
}
.moreInfo:hover {

	background-color: yellow;
}

