@keyframes
reveal {
from {
	height: 0px;
}
to {
	height: 300px;
}
};

@-webkit-keyframes
fadeOut_anim {from {
	opacity: 1;
}
to {
	opacity: 0;
}
};

@-webkit-keyframes
reveal {from {
	height: 0px;
}
to {
	height: 300px;
}
}

@keyframes
fadeOut_anim {from {
	opacity: 1;
}
to {
	opacity: 0;
}
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600&subset=latin,latin-ext);

.no-touch body {
	padding:10px 0px 0px 0px; 
	
	
}

body {
	background-color: #FF0000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width:1000px; 
	margin-left: auto;
	margin-right: auto;
	
}


#application {
	margin-left: auto;
	margin-right: auto;
	position:relative; 
 
}

.no-touch  #application{
	border: #FFFFFF 10px solid;
	box-shadow: 5px 5px 20px #999;
	width:auto;	
	
}

img {
	
	width: 1000px;
	height: 500px;
}

.popup h2 {
	padding: 0;
	margin: 0;
	font-weight: 400;
	text-align: left;
}
.button {
	width: 40px;
	height: 40px;
	background: url('../img/button0001.png');
	background-size: 100%;
	position: absolute;
	top: 100px;
	left: 100px;
	cursor: pointer;
}
.selected {
	background: url('../img/button0002.png');
	background-size: 100%;
}

.popup {
	width: 260px;
	overflow: hidden;
	position: absolute;
	font-size: .7em;
	top: 100px;
	background-position: center top;
	background-repeat: repeat-y;
	height: 300px;
	animation: reveal .3s;
	-webkit-animation: reveal .3s;
	text-align: justify;
	color: #666;
	box-shadow: 5px 5px 20px #666;
}


.touch popup {
		width: 600px;
	
	
	
}

.popup a {
	position: absolute;
	display: block;
	font-style: italic;
	right: 30px;
	bottom: 10px;
}
.popup a:link, .popup a:visited, .popup a:active {
	color: #00cc99;
}
.fadeOut {
	animation: fadeOut_anim .5s;
}

.popup .content {

	background: #ffffff; /* Old browsers */
	padding: 30px 30px 30px 30px;
	position: relative;
	box-shadow: 5px 5px 20px #666;
}

